h1 { color: black;
    font-size: 60px;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
    color: black;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

body {
 background-image: url(https://lastfm.freetls.fastly.net/i/u/770x0/0d7996e6116b1ad2d155eb41a3dd2424.jpg#0d7996e6116b1ad2d155eb41a3dd2424);
 text-align: right;
 background-repeat: no-repeat;
 background-color: #8fdbf8;
}

.h1{
    text-align: center;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background {
    background-image: none;
}

.homepage {
    text-align: center;
    font-size: 16px;
}

.slidebox {
    width: 60%;
    margin: auto;
}

.slides {
    display: flex;
    width: 100%;
    height: 500px;
}

.lol {
color: white;
}
